<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'playlist_app/main.css' %}" media="screen" title="no title" charset="UTF-8" >
    <title>Playlist</title>
</head>
<body>
    <h3><a href="{% url 'user:logout' %}">Logout</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a href="{% url 'main:home' %}">Dashboard</a></h3>
    <hr>
    <h1>Playlist</h1>

    <form action="{% url 'main:playlist' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="playlist_name">
    <input type="text" name="playlist_description" row="4" cols="50">
    <input type="submit" value="Add playlist">
    </form>
    {% for m in messages %}
    {{m}}
    {% endfor %}
    {% for playlist in play %}
        <h3><a href="">{{playlist.title}}</a>&nbsp&nbsp<a href="{% url 'main:remove' playlist_id=playlist.id %}">Remove</a></h3>
        {{playlist.description}}
    {% endfor %}
</body>
</html>